<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Under construction</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles.css" />
    <!-- <link rel="icon" href="data:;base64,="> -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  
  </head>
  <body>

    <div class="page-loader">
      <div><img class="loaderImg" src="/wall.gif" alt=""></div>
  </div> 

    <header>
      <div class="nav">
        <div class="logo">
          <a href="../home">LOGO</a>
        </div>
        <ul class="links">
          <li><a class="linkHover" href="../home">Home</a></li>
          <li><a class="linkHover" href="../house">House construction</a></li>
          <li><a class="linkHover" href="../swimming">swimming pool construction</a></li>
          <div class="dropdown-menu">
            <button class="menu-btn"><a class="linkHover" href="#">MORE</a></button>
            <div class="menu-content lineUp">
              <a class="links-hidden box1" href="../property">Property maintenance</a>
              <a class="links-hidden box2" href="../blog">blog</a>
            </div>
          </div>
        </ul>
        <a class="action-btn" href="../contact">Contact Us</a>

        <div  class="toggle-btn btn hamburger">
          <div class="hamburger__container">
            <div class="hamburger__inner"></div>
            <div class="hamburger__hidden"></div>
          </div>
        </div>

      </div>
      <div class="dropDown">
        <li><a href="../home">Home</a></li>
        <li><a href="../house">House construction</a></li>
        <li><a href="../swimming">Swimming pool construction</a></li>
        <!-- <li><a href="../interior">interior design</a></li> -->
        <li><a href="../property">Property maintenance</a></li>
        <li><a href="../blog">Blog</a></li>
        <li><a class="action-btn" href="../contact">Contact Us</a></li>
      </div>
    </header>

    <section class="webContent">

    <script>
      // pre-loader
     document.onreadystatechange = function() {
    if (document.readyState !== "complete") {
        document.querySelector("webContent").style.visibility = "none";
        document.querySelector(".page-loader").style.visibility = "visible";
    } else {
        document.querySelector(".page-loader").style.display = "none";
        document.querySelector("webContent").style.visibility = "visible";
    }
};
      // navbar
      const dropDownMenu = document.querySelector(".dropDown"); 

      const navbar = document.querySelector(".nav");

      const toggleBtn = document.querySelector(".toggle-btn");

      const toggleBtnIcon = document.querySelector(".toggle-btn i");

      const hamBurger = document.querySelector(".toggle-btn");

      hamBurger.addEventListener('click', () => {
      hamBurger.classList.toggle("is-active");
      dropDownMenu.classList.toggle("open");
      dropDownMenu.classList.toggle("dropDownAnimation");
    })

    const body = document.querySelector("section");
    body.onclick = function(){
      
      dropDownMenu.classList.remove("open");
      hamBurger.classList.remove("is-active");
      dropDownMenu.classList.remove("dropDownAnimation");
      
    }
      
      // hide nav while scrolling
      let nav = document.querySelector(".nav");

      let scrollY = window.scrollY;

      window.addEventListener("scroll", () => {

        const navOpen = dropDownMenu.classList.contains("open");
        
        if (navOpen){
          nav.classList.remove("navHidden");
        }else if (scrollY < window.scrollY) {
          nav.classList.add("navHidden");
        } else {
          nav.classList.remove("navHidden");
        }
        dropDownMenu.classList.remove("open");
        hamBurger.classList.remove('is-active');
        dropDownMenu.classList.remove("dropDownAnimation");
        scrollY = window.scrollY;
      });
  
    </script>
   
  </body>
</html>
