<%- include("partials/header"); -%>
<link rel="stylesheet" href="/blog.css">

<section class="blogAndAside">
    <div class="blogSection">
        <div class="blogContent" >
            <img src="/blog/blog1/cost.png" alt="" onclick='location.href="/1";' style="cursor: pointer;">
            <p class="info">by Admin / september 1 / Interior</p>
            <h1 onclick="location.href='/1';" style="cursor: pointer;">COST OF CONSTRUCTING A HOUSE IN CHENNAI</h1>
            <p class="blogPara">At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatu deleniti atque corryi upti quos dolores et quas molequi dolorem ipsum quia dolor sit amet, consectetur adipisci velit, sed quia loreadipiscing sed do eiusmod tmpor elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mgna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
            <a href="/1" class="cta">
                <span>Read More</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
        </div>
        
        <div class="blogContent">
            <img src="/blog/blog2/head.png" alt="" onclick="location.href='/2';" style="cursor: pointer;">
            <p class="info">by Admin / september 1 / Interior</p>
            <h1 onclick="location.href='/2';" style="cursor: pointer;">MR. SENTHIL RESIDENCE, AVINASHI</h1>
            <p class="blogPara">At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatu deleniti atque corryi upti quos dolores et quas molequi dolorem ipsum quia dolor sit amet, consectetur adipisci velit, sed quia loreadipiscing sed do eiusmod tmpor elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mgna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
            <a href="#" class="cta">
                <span>Read More</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
        </div>
    </div>

    <aside class="asideSection">
        <div class="popular" >
            <h1 class="popularHeading" >POPULAR POSTS</h1>
            <div class="popularContent" onclick="location.href='/1';" style="cursor: pointer;">
                <img src="/blog/blog1/cost.png" alt="">
                <div class="popularText">
                    <h3>COST OF CONSTRUCTING A HOUSE IN CHENNAI</h3>
                    <p class="popularInfo">September 1 / Interior</p>
                </div>
            </div>
        </div>
            <div class="popularContent" onclick="location.href='/2';" style="cursor: pointer;">
                <img src="/blog/blog2/head.png" alt="">
                <div class="popularText">
                    <h3>MR. SENTHIL RESIDENCE, AVINASHI</h3>
                    <p class="popularInfo">September 1 / Interior</p>
                </div>
            </div>
            <div class="popularContent" onclick="location.href='/1';" style="cursor: pointer;">
                <img src="/blog/cost.png" alt="">
                <div class="popularText">
                    <h3>COST OF CONSTRUCTING A HOUSE IN CHENNAI</h3>
                    <p class="popularInfo">September 1 / Interior</p>
                </div>
            </div>
        
        
        <div class="categories">
            <h1 class="catHeading">CATEGORIES</h1>
            <ul class="catList">
                <li class="catListItem"><a href="">Interior</a></li>
                <li class="catListItem"><a href="">Decor</a></li>
                <li class="catListItem"><a href="">Furniture</a></li>
                <li class="catListItem"><a href="">Home</a></li>
                <li class="catListItem"><a href="">Apartment</a></li>
                <li class="catListItem"><a href="">All</a></li>
            </ul>
        </div>
    </aside>
</section>

<%- include("partials/footer"); -%>
