<%- include("partials/header"); -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/contact.css">


<section class="contactUs">
    
    <div class="container">
      <div class="formContent">
      <form class="form"  action="/contact" method="post">
        <div>
          <label for="username" class="text">User Name</label>
          <i class="fa-solid fa-user"></i>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Joy Shaheb"
            required
          />
        </div>

        <div>
          <label for="email" class="text">Email</label>
          <i class="fa-solid fa-envelope"></i>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="abc@gmail.com"
            required
          /> 
        </div>

        <div>
            <label for="phone" class="text">Phone</label>
            <i class="fa-solid fa-phone"></i>
            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="99******68"
              required
            />
          </div>

          <div>
            <label for="city" class="text">City</label>
            <i class="fa-solid fa-city"></i>
            <input
              type="text"
              name="city"
              id="city"
              placeholder=" ex.chennai"
              required
            />
          </div>

        <button type="submit" id="submit" class="text">Submit</button>
      </form>
    </div>
      <div class="content">
        
        <div class="innerBox">
          <h1>CHENNAI OFFICE</h1>
          <p class="textPara">#10, Uthamar Gandhi Salai, Nungambakkam High Rd, Nungambakkam, Chennai, Tamil Nadu 600034</p>
            <a class="textPara" href="#" style="text-decoration: none;">Click for map view</a>
            <p class="textPara">Vivek P&emsp;&emsp;-Tel: 9600399336</p>
            <p class="textPara">Kuppuraj&emsp;-Tel: 9003699336</p>
        </div>
        <div class="innerBox">
            <h1>BANGALORE OFFICE</h1>
            <p class="textPara">#49, 3rd floor, Anantesh Mahal Lakkasandra Extension, Wilson Garden Bengaluru, Karnataka 560027</p>
            <p class="textPara">email: info@olsconstruction.com</p>
            <p class="textPara">Tel: 9159068893</p>
            <p class="textPara">Tel: 7708647339</p>
        </div>
        <div class="innerBox">
            <h1>COIMBATORE OFFICE</h1>
            <p class="textPara">Shop No-2, 1st Floor Koundam Palayam, Opposite to Fire Station, Coimbatore, Tamil Nadu – 641030</p>
        </div>
      </div>
    </div>
</section>

<script>
  const name = document.getElementById('username')
  const email = document.getElementById('email')
  const phone = document.getElementById('phone')
  const city = document.getElementById('city')
const button = document.getElementById('submit');
const form = document.querySelector('form');
let arr = [name, email, phone, city];


button.onclick = () => {
  
  for(let i = 0; i < arr.length; i++){
    let check = arr[i];
  if(check.value.length === 0){
    check.style.border = "2px solid red";
  } else {
    check.style.border = "2px solid green";
  }
}
}


</script>
<%- include("partials/footer"); -%>

