<%- include("partials/header"); -%>

<!-- Swiper CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="/house.css" />
<script defer src="/animate.js"></script>

<div class="heading">
  <h1 class=" boldText textAnimation">RECENTLY FINISHED PROJECTS</h1>
</div>

<div class="body">
  <div class="container swiper">
    <div class="slide-container">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/house/house1.png" alt="" />
          </div>
          <div class="profile-details">
            <div class="name-job">
              <h3 class="name">Prasanna Rajan</h3>
              <h4 class="location">KGF</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/house/house2.png" alt="" />
          </div>
          <div class="profile-details">
            
            <div class="name-job">
              <h3 class="name">Vignesh</h3>
              <h4 class="location">chrompet</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/house/house3.png" alt="" />
          </div>
          <div class="profile-details">
            
            <div class="name-job">
              <h3 class="name">MR.Anand</h3>
              <h4 class="location">Selayur</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/house/house4.png" alt="" />
          </div>
          <div class="profile-details">
            
            <div class="name-job">
              <h3 class="name">Bala Mani</h3>
              <h4 class="location">Val Parai</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="/house/house5.png" alt="" />
          </div>
          <div class="profile-details">
            
            <div class="name-job">
              <h3 class="name">Gowthaman</h3>
              <h4 class="location">Salem</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div></div>

  <section class="aboutSection">
    <div class="card" >
      <img class="hidden" src="company.jpg" alt="">
      <div class="innertext hidden">
          <h1 class="aboutText">About Our Company</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, hic.</p>
          <a href="#" class="cta">
            <span>View More</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
      </div>
  </div>
  </section>

<div class="awards">
  <h1  class="boldText textAnimation">AWARDS</h1>
  <p>We have been awarded as notable Supploer 2016-2017 for Civil and installation activities for Bosch. Our staff has also been awarded by Internationl Tech Park, Bangalore for Good maintenance work.</p>
</div>

  <section class="slideShow">
    <div class="row">
      <div class="left">
          <img class="hidden" src="slide1.jpg" alt="">
      </div>
      <div class="right">
          <div class="content">
              <h1 class="hidden aboutText">heading</h1>
          <p class="hidden">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur consequuntur vitae, illum perferendis minus esse ab iste voluptate vero, nesciunt vel velit, laudantium eius! Quidem commodi repellat illum soluta sapiente!</p>
          <a href="#" class="cta hidden">
              <span>View More</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
      </div>
         
      </div>
  </div>

  <div class="row">
      
      <div class="right">
          <div class="content">
              <h1 class="hidden aboutText">heading</h1>
          <p class="hidden">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur consequuntur vitae, illum perferendis minus esse ab iste voluptate vero, nesciunt vel velit, laudantium eius! Quidem commodi repellat illum soluta sapiente!</p>
          <a href="#" class="cta hidden">
              <span>View More</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
      </div>
         
      </div>
      <div class="left">
          <img class="hidden" src="slide2.jpg" alt="">
      </div>
  </div>

  <div class="row">
      <div class="left">
          <img class="hidden" src="slide3.jpg" alt="">
      </div>
      <div class="right">
          <div class="content">
              <h1 class="hidden aboutText">heading</h1>
          <p class="hidden">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur consequuntur vitae, illum perferendis minus esse ab iste voluptate vero, nesciunt vel velit, laudantium eius! Quidem commodi repellat illum soluta sapiente!</p>
          <a href="#" class="cta hidden">
              <span>View More</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
      </div>
         
      </div>
  </div>

  <div class="row">
      
      <div class="right">
          <div class="content">
              <h1 class="hidden aboutText">heading</h1>
          <p class="hidden">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur consequuntur vitae, illum perferendis minus esse ab iste voluptate vero, nesciunt vel velit, laudantium eius! Quidem commodi repellat illum soluta sapiente!</p>
          <a href="#" class="cta hidden">
              <span>View More</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
      </div>
         
      </div>
      <div class="left">
          <img class="hidden" src="slide4.jpg" alt="">
      </div>
  </div>
  </section>

  <div class="contectUs">
    <h1>CONTACT US FOR FREE CONSULTATION</h1>
    <div id="container">
      <button class="learn-more" onclick='location.href="/contact";'>
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Contact Us</span>
      </button>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>

    var swiper = new Swiper(".slide-container", {
  slidesPerView: 4,
  spaceBetween: 20,
  sliderPerGroup: 4,
  loop: true,
  centerSlide: "true",
  fade: "true",
  grabCursor: "true",
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dynamicBullets: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },

  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    520: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1000: {
      slidesPerView: 4,
    },
  },
});

  </script>

<%- include("partials/footer"); -%>
