<%- include("partials/header"); -%>

<br>
<br>
<h1>office interior</h1>
<h1>office interior</h1>
<h1>office interior</h1>
<h1>office interior</h1>
<h1>office interior</h1>

<%- include("partials/footer"); -%>