<%- include("partials/header"); -%>

<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<link rel="stylesheet" href="/swimming.css">
<script defer src="/animate.js"></script>

<main loading="lazy">
    <h1>SWIMMING POOL CONSTRUCTION</h1>
</main>


<section class="choose">
    <div class="why"><h1 class="boldText textAnimation">WHY CHOOSE US</h1></div>
    <div class="cards hidden">
        <div class="card hidden card1">
            <div class="logo">       
                <lord-icon 
                    src="https://cdn.lordicon.com/osuxyevn.json"
                    trigger="morph"
                    colors="primary:#121331"
                    style="width:50px;height:100px">
                </lord-icon>
            </div>
            <div class="content">
                <h1>Completion of project within budget</h1>
                <p>"We will deliver your swimming pool at a price which we promised you. There will be no cost overruns. No extra amount of money will be included in your bill without your approval."</p>
            </div>
        </div>

        <div class="card hidden card2">
                <div class="logo">       
            <lord-icon
                src="https://cdn.lordicon.com/hyhnpiza.json"
                trigger="morph"
                colors="primary:#121331"
                style="width:50px;height:100px">
        </lord-icon>
            </div>
            <div class="content">
                <h1>Products & accessories at lower price</h1>
                <p>"Our professionals are in swimming pool construction business for over a decade, we have a very good relationship with our suppliers. Thus, we will ensure that you will get all the product & accessories at a reasonable price for building your pool."</p>
            </div>
        </div>

        <div class="card hidden card3">
            <div class="logo">       
                <lord-icon
                    src="https://cdn.lordicon.com/ofwpzftr.json"
                    trigger="morph"
                    colors="primary:#121331"
                    style="width:50px;height:100px">
                </lord-icon>
            </div>
            <div class="content">
                <h1>Service Warranty</h1>
                <p>"If any defect or error found within or around the core concrete structure, it will be repaired immediately without any additional cost and "</p>
            </div>
        </div>

    </div>

    <div class="cards hidden">
        <div class="card hidden card1">
            <div class="logo">       
                <lord-icon
                    src="https://cdn.lordicon.com/hwuyodym.json"
                    trigger="morph"
                    colors="primary:#121331"
                    style="width:50px;height:100px">
                </lord-icon>
            </div>
            <div class="content">
                <h1>On site photos</h1>
                <p>"Photos of the construction site will be shared on a day to day basis so that you can track the progress of our work."</p>
            </div>
        </div>

        <div class="card hidden card2">
            <div class="logo">       
                <lord-icon
                    src="https://cdn.lordicon.com/wxhtpnnk.json"
                    trigger="morph"
                    colors="primary:#121331"
                    style="width:50px;height:100px">
                </lord-icon>
            </div>
            <div class="content">
                <h1>View sample products</h1>
                <p>"All materials such as tiles, ladder, flow jet, cover, liner etc will be shown to you for inspection before approval."</p>
            </div>
        </div>

        <div class="card hidden card3">
            <div class="logo">       
                <lord-icon
                    src="https://cdn.lordicon.com/weoiqraa.json"
                    trigger="morph"
                    colors="primary:#121331"
                    style="width:50px;height:100px">
                </lord-icon>
            </div>
            <div class="content">
                <h1>Experience</h1>
                <p>"Our professional have over 30 years of combined experience in construction management. Thus you don't have to worry about anything going wrong during construction."</p>
            </div>
        </div>

    </div>
</section>

<section class="finishedProjects">
    <div class="heading"><h1 class="boldText textAnimation">FINISHED PROJECTS</h1></div>
    
    <div class="textAndImg">
        <div class="carousel">
          <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
              <div class="slide-image">
                <img src="https://olsconstruction.b-cdn.net/wp-content/uploads/2023/07/PHOTO-2023-04-18-15-55-00-1536x1152.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-3" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-2" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
              <div class="slide-image">
                <img src="https://olsconstruction.b-cdn.net/wp-content/uploads/2023/07/PHOTO-2023-04-18-15-15-22-1536x1152.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-1" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-3" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
              <div class="slide-image">
                <img src="https://olsconstruction.b-cdn.net/wp-content/uploads/2023/08/20-1536x1152.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-2" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-1" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <div class="carousel-dots">
              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
          </ul>
        </div>
      
    
      <div class="text">
        <h1 class="textShade">HAPPY CUSTOMERS</h1>
        <p>We are one of the leading swimming pool contractor in South India. We have professionals in our company who have over a decade of experience in building & maintaining swimming pools at an affordable price.

          Currently, we provide our services in Andhra Pradesh, Karnataka, Kerala, Tamil Nadu, Telangana and Goa</p>
      </div>
    </div>
    
</section>

<section class="completedProjects">
    <div class="heading"><h1 class="boldText textAnimation">TYPES WE OFFER</h1></div>
    <div class="cardInside">
      <figure class="card">
        <img loading="lazy"
          src="https://olsconstruction.b-cdn.net/wp-content/uploads/2023/08/1-8-2-1536x1152.jpg"
          alt=""
          class="card__image"
        />
        <figcaption class="card__body">
          <h2 class="card__title">Infinity Pools</h2>
          <p class="card__description">
            Some description about this card and it's purpose.
          </p>
        </figcaption>
      </figure>
          <figure class="card">
        <img loading="lazy"
          src="https://olsconstruction.b-cdn.net/wp-content/uploads/2023/09/5-2-1536x1152.jpg"
          alt=""
          class="card__image"
        />
        <figcaption class="card__body">
          <h2 class="card__title">Natural Pools</h2>
          <p class="card__description">
            Some description about this card and it's purpose.
          </p>
        </figcaption>
      </figure>
          <figure class="card">
        <img loading="lazy"
          src="https://olsconstruction.b-cdn.net/wp-content/uploads/2023/09/13-1536x1152.jpg"
          alt=""
          class="card__image"
        />
        <figcaption class="card__body">
          <h2 class="card__title">Indoor Pools</h2>
          <p class="card__description">
            Some description about this card and it's purpose.
          </p>
        </figcaption>
      </figure>
      </div>
</section>

<div class="contectUs">
  <h1>CONTACT US FOR FREE CONSULTATION</h1>
  <div id="container" onclick='location.href="/contact";'>
    <button class="learn-more">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Contact Us</span>
    </button>
  </div>
</div>

<script>
    document.querySelector("a").addEventListener('click', function(event) {
  event.preventDefault(); 
});
</script>

<%- include("partials/footer"); -%>
