<%- include("../partials/header"); -%>
<link rel="stylesheet" href="blog/3.css">

<section class="blogAndAside">
    <div class="blogSection">
        <div class="blogContent" >
            <img src="/blog/blog3/head.jpg" alt="">
            <p class="info">by Admin / september 1 / Interior</p>
            <h1>HOW TO CHOOSE A HOUSE DESIGN PLAN BASED ON PLOT SIZE, BUDGET AND VASTU?</h1>
            <p class="blogPara">The first thing that comes to our minds when we think of building our dream home is “How much does it cost to get it done”. Although we may have fixed a budget, we may not know what to expect within it. So, in this blog, we try to give you an insight into how much it would take for house construction and the factors that play a role.

                Before we begin, it is important to understand that the location, the total size of the house and the cost of construction per square foot are crucial and vary from city to city. The most common types of housing in India are </p>
            <h3>1) Custom/ Conventional homes</h3>
            <p>Custom homes are tailored to one’s needs and aesthetic requirements. They are a popular choice in our country despite the growing apartment culture. These homes have a high level of customisation and offer better privacy. But they are the most expensive and time-consuming unless one chooses to incorporate low-cost construction materials and techniques. Often, independent home builders are hired on contract to build the house.</p>
            <h3>2) Prefab homes</h3>
            <p>Prefabricated or readymade homes are the emerging trend in India. These homes are modular, panel built or manufactured instead of the conventional brick and mortar construction. Hence, they are environment-friendly, cost-effective and less time-consuming. Prefab houses also have their downside. They are more susceptible to damage as the parts are transported from factories to the site. They require precision assembling so, any variance or failure in assembly can lead to joint issues, leakages or voids. Customization and aesthetic aspects are limited</p>
            <h3>3)Home Builders and Developers</h3>
            <p>Buying apartments and villas in housing units and gated communities from Homebuilders and developers is a money and time-saving process. The Builder manages the construction, finances, documentation and legalities involved. The homes are usually built at prime locations with various amenities. <br>Finding the right pre-built home that fits one’s requirements can be a bit tough as the flooring layout is fixed and leaves very little to no room for modifications.</p>
            <div class="blogImg">
                <img src="blog/blog3/1.jpg" alt="">
                <img src="blog/blog3/2.jpg" alt="">
            </div>
            <h3>Factors affecting construction cost</h3>
            <h2>LOCATION</h2>
            <p>Location is very important as the construction cost varies according to the locality and neighbourhood of the site. A house in the heart of a metro city will be of higher value than the ones in the suburbs or countryside.</p>
            <h2>AREA</h2>
            <p>The total built area (measured in sqft) of a house directly impacts the construction cost as the workforce and material requirement increases with the size of the project. Hence, the greater the square feet, the greater the development cost.</p>
            <h2>PLANNING AND DESIGN:</h2>
            <p>Provisions of basements, parking, sump tank, overhead tanks, staircases, elevators and headroom considerably impact the expenditures as these may require additional subs structures, superstructures, treatment, finishes, or installation.</p>
            <h2>STRUCTURAL AND CIVIL WORK</h2>
            <h2>Testing:</h2>
            <p>Geotechnical investigations to determine the type of soil, its strength, and other physical properties of the site that will dictate the planning, design and safety of the building.    </p>
            <h2>Excavation and Earthwork:</h2>
            <p>Cost for excavation and earthwork of the site to prepare for laying foundation depends on</p>
            <ul>
                <li>Clearing and grubbing needed to rid the site of rubbish, debris and unwanted vegetative growths</li>
                <li>Amount of soil to be unearthed</li>
                <li>Season (Summer, Winter, Monsoon)</li>
                <li>Support structures for earthwork</li>
            </ul>
            
            <h2 >Foundation:</h2>
            <p>Foundation structures hold the building in place. Without them, the superstructure is prone to collapse and failure. The cost for laying the foundation varies with its</p>
            <ul>
            <li>Depth: based on the number of floors above and below ground, soil condition, groundwater table, provision for basements, elevators and retaining walls</li>
            <li>Type: This is determined by the soil condition, location and size of the plot</li>
            <li>Treatment for protecting the structures from environmental and chemical attacks</li>
            <li>In India, foundation cost is usually 15-20% of the total cost.</li>
            <li>Amount of earth to be refilled</li>
            </ul>
            
            <h2>Substructures:</h2>
            <p>The cost of substructures depends on</p>
            <ul>
            <li>Plinth height and its area</li>
            <li>The skeletal frame (in case of framed structure): This includes the number of columns, beams, floor and roof slabs</li>
            <li>Roofing type and framework if RCC roof is not applicable</li>
            <li>Walling system</li>
            <li>Provision of staircase and lift headrooms, service shafts including lift shafts and overhead tank</li>
            </ul>
        
            <h2>Materials:</h2>
            <p>Construction cost majorly depends and varies on the type and quantity of materials needed for construction.</span></p>
            <p>This includes</p>
            <ul>
            <li>Cement, Blocks/Bricks, Sand, Steel, Concrete for civil work</li>
            <li>Wood/Glass/PVC frames and shutters for fenestrations</li>
            <li>Different Types of flooring for Bedrooms, Kitchens, Bathrooms and Toilets, staircases, Parking, Terrace and Pavements like vitrified tiles, stones, hardwood, terrazzo, red oxide, paver tiles etc.</li>
            <li>Other roofing materials like Mangalore tiles, bamboo, membrane roof etc.</li>
            <li>Metalwork for gates, grills and railings.</li>
            </ul>
            <p>Typically about 60% of the total cost is spent on procuring materials.</p>
        
            <h2><em>INTERIORS:</em></h2>
<p>The cost for interior work depends on</p>
<ul>
<li>Painting and finishes</li>
<li>Kitchen planning and service areas</li>
<li>Special elements like feature walls, sit-outs, sculptures, water bodies, indoor vegetation</li>
<li>Furniture</li>
<li>Appliances and accessories</li>
</ul>
<h2>Exterior:</h2>
<ul>
<li>Surface treatments and finishes for building elevation and terraces.</li>
<li>Aesthetic elements for facades</li>
<li>Landscaping and pooling system (if any)</li>
</ul>
<h2>Services:</h2>
<ul>
<li>Electrical: Distribution, Wiring, Switches and Fixtures for HVAC, Solar, DG/backup</li>
<li>Plumbing: Pipes, STP, Sanitaryware and fittings needed</li>
</ul>
<h2 >Labour, Transportation and Equipment:</h2>
<p>These charges vary from state to state depending on labour laws, fuel prices and availability of equipment.</p>

<p>Additional cost includes</p>
<ul>
<li>Contingency charges</li>
<li>Architects&rsquo; or Engineers&rsquo; fee for consultation, planning, designing and generating the blueprints needed for building the house</li>
</ul>
<p>We have tried to list as many significant factors that play a role in construction costs. The whole process of constructing a house also includes various formalities, legalities, and handling different stakeholders at all stages of construction that add up to the total expenditure. It is advised that one should have a basic understanding of the construction process and a rough estimate beforehand as building a house is a lifetime dream and requires a hefty investment for most.</p>
<p>Comparison of Packages</p>
        
        </div>
    </div>

    <aside class="asideSection">
        <div class="popular" onclick="location.href='/1';" style="cursor: pointer;">
            <h1 class="popularHeading">POPULAR POSTS</h1>
            <div class="popularContent">
                <img src="/blog/blog1/cost.png" alt="">
                <div class="popularText">
                    <h3>COST OF CONSTRUCTING A HOUSE IN CHENNAI</h3>
                    <p class="popularInfo">September 1 / Interior</p>
                </div>
            </div>
        </div>
        <div class="popularContent" onclick="location.href='/2';" style="cursor: pointer;">
            <img src="/blog/blog2/head.png" alt="">
            <div class="popularText">
                <h3>COST OF CONSTRUCTING A HOUSE IN CHENNAI</h3>
                <p class="popularInfo">September 1 / Interior</p>
            </div>
        </div>
        <div class="popularContent" onclick="location.href='/3';" style="cursor: pointer;">
            <img src="/blog/blog3/head.jpg" alt="">
            <div class="popularText">
                <h3>COST OF CONSTRUCTING A HOUSE IN CHENNAI</h3>
                <p class="popularInfo">September 1 / Interior</p>
            </div>
        </div>
        
        <div class="categories">
            <h1 class="catHeading">CATEGORIES</h1>
            <ul class="catList">
                <li class="catListItem"><a href="/homeBlogPage">Home</a></li>
                <li class="catListItem"><a href="/interiorBlogPage">Interior</a></li>
                <li class="catListItem"><a href="/decor">Decor</a></li>
                <li class="catListItem"><a href="/apartment">Apartment</a></li>
                <li class="catListItem"><a href="/furniture">Furniture</a></li>
            </ul>
        </div>
    </aside>
</section>
<section class="comment">
    <div class="commentSection">
        <div class="commentText">
             <img src="blog/comment.png" alt=""  width="100px" height="100px">
            <div>
                <h2>Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, similique!</p>
            </div>
        </div>
        <hr>
        <div class="commentText">
            <img src="blog/comment.png" alt="" width="100px" height="100px">
           <div>
                <h2>Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, similique!</p>
           </div>
        </div>
        <hr>
        <div class="commentText">
            <img src="blog/comment.png" alt="" width="100px" height="100px">
            <div>
                <h2>Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, similique!</p>
            </div>
        </div>
        <hr>
        
        <%users.forEach(function(user){%>
            <div class="commentInputText">
                <img src="blog/comment.png" alt="" width="100px" height="100px">
                
                   <div class="commentInputContent">
                        <h2><%=user.name%></h2>
                        <p><%=user.content%> </p>
                   </div>
                </div>
                   <hr>
                   <% }) %>
        </div>

    <div class="commentInput">
        <h2>Post Your Comment</h2>
        <form action="/3" method="post">
            <div class="formGroup">
                <label class="text" for="name">Name</label>
                <input class="text" type="text" id="name" name="name" placeholder="eg.John">
                <textarea class="text" name="content"  cols="30" rows="10" placeholder="Your Comment"></textarea>
            </div>
            <button class="text" type="submit">Submit</button>
        </form>

    </div>

</section>

<%- include("../partials/footer"); -%>