@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.contactUs{
    margin-bottom: 150px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-top: 50px;
}

.contactUs .text{ 
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.contactUs .textPara{
  font-family: 'Open Sans', sans-serif;
}
.contactUs .formContent{
    width: 100%;
}
.contactUs .background1{
  height: 100vh;
  display: grid;
  place-items: center;
  margin: -20px 100px;
}
.contactUs .background{
  display: grid;
  place-items: center;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  background-color: #32009e;
  border-radius: 50px;
  background: #e4d6ff;
  box-shadow:  20px 20px 60px #c9c2d9,
             -20px -20px 60px #ffffff;
}

.contactUs .container {
  display: flex;
  flex-direction: column;
}
.contactUs form {
    width: 100%;
    /* max-width:600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
  }
  @media(max-width: 600px){
    .contactUs .background1{
      margin: -50px 20px;
    }
    .contactUs form{
      padding: 30px 10px;
    }
  }
  .contactUs .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contactUs form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contactUs label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contactUs form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  .contactUs input:focus {
    border: 2px solid #A076F9;
  }

  .contactUs form div i {
    position: absolute;
    padding: 10px;
  }

  .contactUs button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #A076F9;
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  .contactUs button:hover{
    color: #A076F9;
    background-color: #fff;
    border: 2px solid #A076F9;
    opacity: 0.8;
  }

  .contactUs .content {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .contactUs .content .innerBox{
    width: auto;
    padding-right: 50%;
    margin-bottom: 30px;
  }
  .contactUs .content .innerBox h1{
    margin-bottom: 10px;
  }
@media(max-width:1100px){
  .contactUs .content .innerBox{
    padding-right: 30%;
  }
}
@media(max-width:900px){
  .contactUs .content .innerBox{
    padding-right: 50%;
  }
}
@media(max-width:550px){
  .contactUs .content .innerBox{
    padding-right: 10%;
  }
}
@media(max-width:330px){
  .contactUs .content .innerBox{
    padding-right: 0;
  }
}