@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.contactUs{
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contactUs .text{ 
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.contactUs .textPara{
  font-family: 'Open Sans', sans-serif;
}
.contactUs .formContent{
    width: 100%;
}
.contactUs .container {
    display: flex;
  }

  .contactUs form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 45%; */
    /* max-width: 400px; */
    padding: 50px;
  }
  
  .contactUs .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contactUs form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contactUs label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contactUs form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  .contactUs input:focus {
    border: 2px solid #f2796e;
  }

  .contactUs form div i {
    position: absolute;
    padding: 10px;
  }

  .contactUs button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  .contactUs button:hover{
    color: #f2796e;
    background-color: #fff;
    border: 2px solid #f2796e;
    opacity: 0.8;
  }
  
  
  @media (max-width: 900px) {
    .contactUs .container {
      flex-direction: column;
    }
  
    .contactUs form,
    .contactUs .content {
      width: 100%;
    }
  
    .contactUs .btn {
      flex-direction: column;
    }
    .contactUs .image {
      height: 70vh;
    }
  }
  
  @media (max-width: 425px) {
    .contactUs form {
      padding: 20px;
    }
  }
  
  .contactUs .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* background-color: #6eb7f2; */
    /* width: 55%; */
    /* min-height: 100vh; */
    padding: 10px 20px;
  }

  .contactUs .content .innerBox{
    width: auto;
    padding-right: 50%;
    margin-bottom: 20px;
  }
@media(max-width:1100px){
  .contactUs .content .innerBox{
    padding-right: 30%;
  }
}
@media(max-width:900px){
  .contactUs .content .innerBox{
    padding-right: 50%;
  }
}
@media(max-width:550px){
  .contactUs .content .innerBox{
    padding-right: 10%;
  }
}
@media(max-width:330px){
  .contactUs .content .innerBox{
    padding-right: 0;
  }
}