
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
.heading {
  background-color: #efefef;
  height: 200px;
  display: grid;
  place-items: center;
  margin-bottom: -150px;
}
.heading h1{
  font-size: clamp(1rem, 5vw, 2rem);
}

.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}
.body .container {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.body .card {
  border: 1px solid black;
  background: #fff;
  border-radius: 9px 9px 0 0;
}
.body .card .image-box {
  height: 300px;
}
.body .card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.body .card .profile-details {
  background-color: #efefef;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.profile-details .name{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.profile-details .location{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.body .card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .location {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

/* About Company */
.aboutSection {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #efefef;
}
.aboutSection .card{
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  margin: 100px 20px;
  padding: 50px 30px 50px 20px;
  background-image: linear-gradient(#00c6fb, #005bea);
  border-radius: 24px;
}
.aboutSection .innertext{
  margin-top: -50px;
}
@media(max-width:740px){
  .aboutSection .innertext{
    margin-top: 0;
  }
}
.aboutSection .card h1{
    padding: 10px 0;
}
.aboutSection .card p{
  color: #18272F;
}
.aboutSection .card p{
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  padding: 10px 20px 0 0;
}
.aboutSection .card a{
  position: relative;
  top: 30px;
}
.aboutSection .card img{
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

@media (width <= 740px){
  .aboutSection .card{
      flex-direction: column;
      text-align: center;
      /* margin: 0 40px; */
      padding-left: 50px;
      padding-right: 50px;
      width: 100%;
  }
  .aboutSection .card img{
      margin: -100px 0 30px 0;
      width: 100%;
      max-width: 1000px;
  }
}

.aboutSection .hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.aboutSection .show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* end */

.company{
  overflow: hidden;
  /* border: 1px solid black; */
  width: 100%;
  height: 900px;
  background-color: #efefef;
}

.company .aboutCompany {
  padding: 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .company .aboutCompany{
    flex-direction: column;
    padding: 0;
  }
}
.company .aboutCompany .text {
  margin: 20px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: start;
}
.company .aboutCompany img{
  padding: 20px;
  max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* view more */
a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
/* view more end */
.awards{
  display: grid;
  place-items: center;
  background-color: #efefef;
}

.awards p{    
  color: #61677A;
  text-align: center;
  margin: 20px 80px 20px 80px;
  font-family: "Poppins", sans-serif;
}
.recentWorks{
  background-color: #efefef;
  padding: clamp(50px, 5vw, 100px) 0;
}
/* slideShow */
.slideShow{
  width: 100%;
    display: grid;
    place-items: center;
    background-color: #efefef;
}
.row{
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
  margin: 50px;
}
.row .left{
  overflow: hidden;
}
.row .left img{
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 388px;
  object-fit: cover;
}
.row .right{
  display: flex;
  align-items: center;
}
.row .right .content a{
  margin-top: 20px;
}
.row .right .content {
  margin-top: -60px;
  /* padding-left: 20px; */
}
.row .right .content h1{
  text-transform: uppercase;
  padding: 20px 0;
  color: #000000;
}

.row .right .content a{
  position: relative;
  top: 20px;
}
.row .right .content p{
  color: #61677A;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 15px;
}

@media(max-width:991px){
  .row .right .content {
      padding-left: 0;
  }
}
@media(max-width:768px) {
  .row{
      width: 90%;
      grid-template-columns: 1fr;
  }
}
/* slideShow end */

/* slide  Animation*/
.slideShow{
  overflow: hidden;
}
.slideShow .row .left .hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.slideShow .row .left .show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.slideShow .row .right .hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
.slideShow .row .right .show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
  
/* slide  Animation end*/

/* textAnimation */
.textAnimation {
	text-decoration: none;
	color: #18272F;
	/* font-weight: 700; */
  position: relative;
  z-index: 2;
}

.textAnimation::before {
  content: '';
  background-color: #A076F9;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.textAnimation:hover::before {
  bottom: 0;
  height: 100%;
}
/* textAnimation end */
.boldText{
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:#484c5c;
}
.aboutText{
  font-size: 1.5rem;
  font-weight: 300;
  color: #353535;
  font-family: 'poppins', sans-serif;
}
/* contact Us */
.contectUs {
  margin-top: -60px;
  margin-bottom: 100px;
  height: 400px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #efefef;
}
.contectUs button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.contectUs button.learn-more {
  width: 12rem;
  height: auto;
}
.contectUs button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.contectUs button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.contectUs button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.contectUs button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.30rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.contectUs button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.contectUs button:hover .circle {
  width: 100%;
}
.contectUs button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.contectUs button:hover .button-text {
  color: #fff;
}
/* contact Us end */