@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
.commentHead{
    display: grid;
    place-items: center;
}
.commentHead{
    font-size: clamp(1rem, 5vw, 2rem);
}
.blogSection  p{
    font-family: 'Roboto', sans-serif;
    color: #61677A;
    font-weight: 400;
}
.blogSection li{
    font-family: 'Roboto', sans-serif;
    color: #61677A;
    font-weight: 400;
}
.italicText{
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
}
.text{
    font-family: 'Roboto', sans-serif;
  /* font-weight: bold; */
}
.blogAndAside{
    height:auto;
    margin: 50px 100px 0 100px;
    display: flex;
}
.asideSection{
    /* height: au; */
    width: 30%;
}
.blogSection {
    width: 70%;
}
@media(max-width:900px){
    .blogAndAside{
        flex-direction: column;
    }
    .asideSection{
        width: 100%;
    }
    .blogSection{
        width: 100%;
    }
}
@media(max-width:550px){
    .blogAndAside{
        margin: 50px 0 0 0;
    }
}
@media(max-width:1230px){
    .blogAndAside{
        margin: 50px 50px 0 50px;
    }
}
@media(max-width:1016px){
    .blogAndAside{
        margin: 50px 20px 0 20px;
    }
}
.asideSection .popular img{
    width: 100px;
    height: 100px;
}
.blogSection .blogContent img{
    width: 100%;
    max-height: 500px;
}
.blogContent{
    /* margin: 20px; */
    margin: 20px 20px 40px 20px;
}
.blogContent .info{
    margin: 10px 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    font-size: 14px;
}
.blogContent h1{
    margin-bottom: 20px;
}
.blogContent .blogPara{
    margin-bottom: 30px;
}

.popular .popularHeading{
    margin: 10px;
    font-size: 1.5rem;
}
.popularContent{
    margin: 20px 0 0 10px;
    display: flex;
}
.popularContent .popularText{
    margin-left: 10px;
}
.popularContent img{
    width: 100px;
    height: 100px;
}
.popularContent .popularInfo{
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    font-size: 12px;
    color: #4e4e4e;
}
.categories{
    margin: 30px 0 20px 10px;
}
.categories .catHeading{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.categories .catList li{
    list-style: none;
    margin: 10px;
}
.categories .catList li a{
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
}
.blogContent .blogImg img{
    max-width: 300px;
}
.blogContent .blogImg{
    margin-top: 20px; 
    margin-bottom: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.blogSection h2, .blogSection h3{
    margin: 20px 0;
}
.blogSection p{
    margin-bottom: 20px;
}
/* comment */
.comment{
    display: grid;
    place-items: center;
    height: auto;
    margin: 0 20px;
    margin-bottom: 200px;
}
.comment .commentSection{
    width: 80%;
    margin: 20px 0;
}
@media(max-width:1100px){
    .comment .commentSection{
        width: 100%
    }
}
.comment .commentSection .commentText{
    margin: 10px 0;
    display: flex;
}
.comment .commentSection .commentText p{
    margin-left: 10px;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}
.formGroup input{
    height: 30px;
}
.commentInputText {
    margin: 10px 0;
    /* display: flex;
    flex-direction: column; */
}
.commentInputText{
    display: flex;
}
.commentInputText .commentInputContent{
    display: flex;
    flex-direction: column;
}
.commentInputText p{
    margin-left: 10px;
}
.commentInputText h2{
    margin-left: 10px;
}
.commentText h2{
    margin-left: 10px;
}
/* comment end */

